html, body {
    height: 100%;

}

ul {
    list-style: none;
    padding: 0;
    font-size: small;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-bar {
    height: 40px;
    background-color: #000000;
}

.container {
    height: 100%;
}

#map-container, #map-row {
    height: 100%;
    width: 100%;
    padding: 0;
}

#map {
    height: 100%;
}

#left-col {
    height: 100%;
    width: 25%;
    position: fixed;
    margin: 0;
    background-color: #080808;
    color: #ffffff;
    z-index: 999;
}

#location-list {
    color: white;
}
